* {
    border: 2px dotted black;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: #334257;
}

.homemenu {
    background: #476072;
    text-align: center;
    width: 500px;
    margin: 30px auto;
}

.articlecontainer {
    border: 2px red solid;
}

.article {
    background: #476072;
    width: 800px;
    margin: 20px auto;
}

h1 {
    background-color: #548CA8;
}

.imgcontainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.indent {
    text-indent: 50px;
}

ul > li {
    list-style: none;
    margin: 0px 16px;
    padding-left: 30px;
}

ol {
    padding-left: 40px;
    margin: 0px 16px;
    margin-bottom: 1em;
}

h1 {
    text-align: center;
    margin: 20px;
}

h2 {
    margin: 20px;
    margin-bottom: 5px;;
}

p {
    margin: 20px;
}